DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=ecommerce_documents
EMBEDDING_MODEL_PATH=D:\local_models\huggingface\hub\models--Qwen--Qwen3-Embedding-0.6B\snapshots\97b0c614be4d77ee51c0cef4e5f07c00f9eb65b3
